<h1>浪費一覧</h1>

<ul>
    <% @things.each do |thing| %>
    <li><%= thing.date %> <%= link_to thing.name, thing %>
      <% if thing.shop == 'super' %>
        スーパー<%= thing.lowprice %>円
      <% else %>
        コンビニ<%= thing.highprice %>円
      <% end %>
    <% end %></li>
</ul>


<h2>スーパーの合計とコンビニの合計</h2>


<p>スーパー合計: <%= @super_things.sum(:lowprice) %>円</p>
<p>コンビニ合計: <%= @conveni_things.sum(:highprice) %>円</p>
