<h1>浪費一覧</h1>
<table class="table">
  <tr>
    <th class="text-center">商品名</th>
    <th class="text-center">日付</th>
    <th class="text-center">お店</th>
    <th class="text-center">値段</th>
  </tr>
    <% @things.each do |thing| %>
    <tr>
  　   <td><%= link_to thing.name, thing %></td>
      <td class="text-right"><%= thing.date %></td>
    　  <% if thing.shop == 'super' %>
       　<td class="text-right">スーパー</td>
       　<td class="text-right"><%= thing.lowprice %>円</td>
      　<% else %>
      　 <td class="text-right">コンビニ</td>
    　  　<td class="text-right"><%= thing.highprice %>円</td>
    　  <% end %>
  　<% end %>
　</tr>
</table>

<h2>スーパーの合計とコンビニの合計</h2>


<p>スーパー合計: <%= @super_things.sum(:lowprice) %>円</p>
<p>コンビニ合計: <%= @conveni_things.sum(:highprice) %>円</p>
